.container {
  margin: 80px auto 0;
  display: column;
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    top: 25px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .container {
    top: 35px;
  }
}
@media (max-width: 479px) {
  .container {
    top: 45px;
  }
}
